[submodule "network"]
	path = network
	url = git@github.com:chimera-lab/network.git

[submodule "automation"]
	path = automation
	url = git@github.com:chimera-lab/automation.git
[submodule "legal"]
	path = legal
	url = git@github.com:chimera-lab/legal.git
[submodule "ideas"]
	path = ideas
	url = git@github.com:chimera-lab/ideas.git
[submodule "art"]
	path = art
	url = git@github.com:chimera-lab/art.git
[submodule "template"]
	path = template
	url = git@github.com:chimera-lab/template.git
