[submodule "network"]
	path = network
	url = git@github.com:chimera-lab/network.git
[submodule "automation"]
	path = automation
	url = git@github.com:chimera-lab/automation.git
[submodule "legal"]
	path = legal
	url = git@github.com:chimera-lab/legal.git
[submodule "ideas"]
	path = ideas
	url = git@github.com:chimera-lab/ideas.git
[submodule "art"]
	path = art
	url = git@github.com:chimera-lab/art.git
[submodule "template"]
	path = template
	url = git@github.com:chimera-lab/template.git
[submodule "computing"]
	path = computing
	url = git@github.com:chimera-lab/computing.git
[submodule "finance"]
	path = finance
	url = git@github.com:chimera-lab/finance.git
[submodule "contributions"]
	path = contributions
	url = git@github.com:chimera-lab/contributions.git
[submodule "security"]
	path = security
	url = git@github.com:chimera-lab/security.git
[submodule "ai"]
	path = ai
	url = git@github.com:chimera-lab/ai.git
[submodule "administration"]
	path = administration
	url = git@github.com:chimera-lab/administration.git
